/* @media only screen and (max-width: 600px) {
    nav .fa-solid {
        display: block;
        font-size: 25px;
        color: whitesmoke;
    }
    #hero {
        background-image: url(Assets/Phone-BG.png);
    }
    .hero__text {
        margin-top: 10%;
        font-size: 18px;
    }
    .hero__text h1 {
        font-size: 30px;
        line-height: 2rem;
    }
    .hero__text__p {
        line-height: 1.25rem;
    }
} */